<header>
<h1>Centro Paula Souza</h1>
<br><br>
<h2>Manual de Informações e Orientações ao Professor 2015</h2>
</header>

<%= image_tag "etec.png", id: "escola-img" %>
<div class="text">
	<h2><b>Caros professores,</b></h2>
	<p>
		Há 84 anos, a nossa escola foi criada e, desde então, vem oferecendo formação educacional eficiente
		que tanto orgulha aqueles que participam e participaram dessa história.
	</p>
	<p>
		É com satisfação e carinho que a equipe de trabalho da Etec João Gomes de Araújo dá boas vindas e
		parabéns por estar iniciando sua jornada conosco.
	</p>
	<p>
		É importante saber um pouco sobre a escola em que você, professor, trabalhará. A Escola Técnica
		Estadual João Gomes de Araújo é uma escola pública pertencente ao Centro Paula Souza, uma autarquia do
		Governo do Estado de São Paulo - a qual oferece ensino médio, técnico e tecnológico (Fatec) em diversas
		áreas, conforme a necessidade do mercado regional - ligada à Secretaria de Desenvolvimento, Ciências e
		Tecnologia.
	</p>
	<p>
		Este manual não representa uma simples norma de conduta, mas sim o resultado de um processo
		contínuo no desenvolvimento de um instrumento orientador e normativo dos procedimentos acadêmicos e
		pedagógicos.
	</p>
	<p>
		Buscamos expor aqui os conhecimentos e informações básicas a respeito dos seus deveres como
		professor, tornando-o assim coerente com a filosofia de democratização e gestão participativa.
		A Etec João Gomes de Araújo vem garantindo uma posição importante em nossa região nas
		avaliações externas (estaduais e federais). Orgulha-nos muito sermos apontados como uma escola de
		referência no ensino regular e profissional.
	</p>
	<p>
		Solicitamos uma minuciosa leitura deste manual e, em caso de dúvidas, estaremos à disposição para
		elucidá-las.
	</p>
	<p>
		É nosso desejo que seus objetivos sejam alcançados e possamos juntos aprimorar cada vez mais
		nossa referência educacional.
	</p>
	<p>
		Desejamos a você uma trajetória de sucesso.
	</p>
	<small id="by">
	Prof a. Mirtes Marroco Paim
	Diretora
	</small>
	</p>
</div>

<div class="bg-home">
	<p>Ola</p>
</div>