<div class="team">
<h1>EQUIPE GESTORA</h1>
<p>
	<b>Diretora: Prof a. Mirtes Marroco Paim</b><br>
	E-mail: <a href="#">dir.gomesdearaujo@centropaulasouza.sp.gov.br</a> 
</p>

<p>
	<b>Diretor de Serviços Acadêmicos: Luiz Antonio Romão Prado</b><br>
	E-mail: <a href="#">secretaria@etejga.com.br</a>
</p>

<p>
	<b>Diretora de Serviços Administrativos: Profa Glaucia Calegari Labastie</b><br>
	E-mail: <a href="#">diretoriadeservico@etejga.com.br</a>
</p>

<p>
	<b>Assistente Técnico Administrativo: Rosa Ely Vital Leite de Lima</b><br>
	E-mail: <a href="#">ata@etejga.com.br</a>
</p>

<p>
	<b>Coordenadora Pedagógica: Profa Marília Cristina Morais Soares Schmidt</b><br>
	E-mail: <a href="#">coord.pedagogica@etejga.com.br e marilia.schmidt01@etec.sp.gov.br</a>
</p>

<p>
	<b>Orientador Educacional: Prof. Ademar Paes dos Santos</b><br>
	E-mail: <a href="#">ademar.santos01@etec.sp.gov.br</a>
</p>

<h1>COORDENADORES DE CURSO</h1>
<p>
	<b>Administração: Prof. Lucio Salgado Silva</b><br>
	E-mail: <a href="#">lucio.silva4@etec.sp.gov.br</a>
</p>

<p>
	<b>Cozinha: Profa Mariluce Luglio Kosugi</b><br>
	E-mail: <a href="#">mariluce.kosugi@etec.sp.gov.br</a>
</p>

<p>
	<b>Ensino Médio: Profa Cláudia Rosemary Gambi</b><br>
	E-mail: <a href="#">claudia.gambi@hotmail.com</a>
</p>

<p>
	<b>ETIM Informática: Profa Marli Cesário Israel</b><br>
	E-mail: <a href="#">marli.israel@etec.sp.gov.br</a>
</p>

<p>
	<b>ETIM Logística: Profa. Vânia Bianchi de Araújo</b><br>
	E-mail: <a href="#">vania.araujo2@etec.sp.gov.br</a>
</p>

<p>
	<b>ETIM Mecânica: Prof. Anderson Reginaldo Santos</b><br>
	E-mail: <a href="#">prof.anderson.santos@hotmail.com</a>
</p>

<p>
	<b>ETIM Nutrição e Dietética e Técn. em Nutrição e Dietética (tarde): Profa Mariane Carmona Geia</b><br>
	E-mail: <a href="#">mc.geia@gmail.com</a>
</p>

<p>
	<b>Informática e Redes de Computadores: Profa Marli Cesário Israel</b><br>
	E-mail: <a href="#">marli.israel@etec.sp.gov.br</a>
</p>

<p>
	<b>Mecânica: Prof. Carlos Roberto Lopes Ribeiro</b><br>
	E-mail: <a href="#">carlos.ribeiro4@etec.sp.gov.br</a>
</p>

<p>
	<b>Nutrição e Dietética (noite): Prof. Odisael Vieira de Siqueira</b><br>
	E-mail: <a href="#">odisael.siqueira01@etec.sp.gov.br</a>
</p>

<p>
	<b>Serviços Jurídicos: Prof. Mário Augusto de Souza</b><br>
	E-mail: <a href="#">mario.souza5@etec.sp.gov.br</a>
</p>

<h1>MANUTENÇÃO DE COMPUTADORES</h1>
<p>
	<b>Prof. Ivan Bezerra de Almeida</b><br>
	E-mail: <a href="#">ivan.dealmeida@etec.sp.gov.br</a>
</p>

<h1>COORDENADORES DAS CLASSES DESCENTRALIZADAS</h1>

<p>
	<b>E.E Rubens Zamith</b><br>
	<b>Coordenador Prof. Marcelo Costa Neves</b><br>
	E-mail: <a href="#">marcelo.neves3@etec.sp.gov.br</a><br>
	<b>Coordenador de Área/Descentralizada</b><br>
	Administração e Contabilidade: Prof. Sergio Luiz Gritti<br>
	E-mail: <a href="#">sergio.gritti@etec.sp.gov.br</a>
</p>

<p>
	<b>3E.E Alzira Franco</b><br>
	Coordenadora Profa Ana Paula de Castro<br>
	E-mail: <a href="#">ana.castro11@etec.sp.gov.br</a><br>
	<b>Coordenadores de Área/Descentralizada</b><br>
	Logística e Recursos Humanos: Profa Cristiane Freire de Oliveira<br>
	E-mail: <a href="#">freirexcris@yahoo.com.br</a>
</p>

<p>
	<b>E.M Dro Tancredo de Almeida Neves / Campos do Jordão</b><br>
	Coordenador: Profo André Luiz Raposo<br>
	E-mail: <a href="#">andre.raposo01@etec.sp.gov.br</a><br>
	<b>Coordenadores de Área/Descentralizadas</b><br>
	Administração: Prof. Lucio Salgado Silva<br>
	E-mail: <a href="#">lucio.silva4@etec.sp.gov.br</a>
</p>

<h1>MANUTENÇÃO DE COMPUTADORES DAS DESCENTRALIZADAS</h1>
<b>Profa Midori Kato</b><br>
E-mail: <a href="#">midori.kato@etec.sp.gov.br</a>
</div>